<!doctype html>
<html lang="{{ .Site.Language.Lang }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ partial "head.html" . }}
</head>
<body class="{{ block "bodyclass" . }}{{ end }}">
  <a class="skip" href="#contenu">Aller au contenu</a>
  {{ partial "header.html" . }}
  <main id="contenu">
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
  {{ $js := resources.Get "js/site.js" | minify | fingerprint }}
  <script src="{{ $js.RelPermalink }}" defer></script>
</body>
</html>
